<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>.

<%= render 'layouts/navigation' %>

    <div style="overflow:scroll" class="col-md-12 test-window">
    <table id='languages'>
        <tr>
            <th>
                Add language:
                <%= text_field_tag 'language', nil, :id => 'new_language',  :style => 'margin-left: 30px' %>
                <button type='button' onclick='add_language()'><i class='fa fa-plus' style='color:blue'></i></button>               
            </th>
        </tr>
        <tr>
            <th>
                Available languages:
                <% ($redis.hkeys 'languages').each do |lang| %>
                    <span style='padding-left:20px'> 
                        <%= lang %>
                        <% if lang != 'en' %>
                            <button type='button' onclick="del_locale('<%= lang %>')"> <i class='fa fa-trash-o' style='color:red'></i></button>
                        <% end %>
                    </span>
                <% end %>
            </th>
        </tr>
    </table>
    <br>

    <div class="col-md-12 test-window">

        <div class='col-md-12'>
            Navigation: 
            <span><button type='button' id="navigationall" class='btn btn-success navigation' onclick="search_navigation('navigation', 'all')"> All </button></span>

            <% ($redis.hkeys 'navigation').each do |nav| %>
                <span><button type='button' id="navigation<%= nav %>" class='btn btn-success navigation' onclick="search_navigation('navigation', '<%= nav %>')"> <%= nav.split('.').last.tr("_"," ").capitalize %></button></span>
            <% end %>
        </div>
        <div class='col-md-12' id='under_navigation'></div>

        <br>



        <%= will_paginate @translations, renderer: BootstrapPagination::Rails %>
        <table class='table table-hover' id='languages'>
            <tr>
                <th></th>
                <th>key</th>
                <% ($redis.hkeys 'languages').each do |lang| %>
                    <th><%= lang %></th>
                    <th></th>
                <% end %>
            </tr>
            <% (@translations).each_with_index do |k, index| %>
                <tr id="<%= index %>">
                    <td>
                        <button type='button' onclick="del('<%= k %>', '<%= index %>')"><i class='fa fa-trash-o' style='color: red'></i></button>
                    </td>
                    <td>
                        <%= k.split('.').last.tr("_"," ").capitalize %>
                    </td>
                    <% ($redis.hkeys 'languages').each do |lang| %>
                        <td>
                            <%= text_field_tag k, ($redis.hget lang, k), :id => (lang+index.to_s), :style => 'width: 100%', :onkeydown => "changed('#{lang}', '#{index}')" %>
                        </td>
                        <td>
                            <button type='button' onclick="change('<%= lang %>', '<%= index %>', '<%= k %>')">
                                <i class='fa fa-check' style='color:green' id="fa<%= lang %><%= index.to_s %>"></i>
                            </button>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

<script>

    function search_navigation(firstkey, lastkey) {
        $("." + String(firstkey)).css( {"background-color": '#5cb85c'} );
        $("#" + String(firstkey) + String(lastkey)).css( "background-color", "#337ab7" );

        $.ajax({
            type: 'POST',
            data: {firstkey: firstkey, lastkey: lastkey},
            cache: true,
            url: '/en/get_keylist',
            dataType: 'JSON',
            success: function(data){

                $('#under_navigation').empty();

                if( data.keylist.length > 0 ) {

                    $('#under_navigation').append("<br>" + capitalizeFirstLetter(lastkey) + " navigation: ");

                    var html = " <button type='button' onclick=\"search_next_navigation('navigation." + lastkey + "', 'all', 1)\" class='btn btn-success nav1' id='nav1" + 'all' + "'> " + 'All' + " </button> ";
                    $('#under_navigation').append(html);

                    for(var d = 0; d < data.keylist.length; d++) {
                        var html = "<button type='button' onclick=\"search_next_navigation('navigation." + lastkey + "', '" + data.keylist[d] + "', 1)\" class='btn btn-success nav1' id='nav1" + data.keylist[d] + "'> " + capitalizeFirstLetter(data.keylist[d].replace("_", " ")) + " </button> ";
                        $('#under_navigation').append(html);
                    }

                    $('#under_navigation').append("<div class='col-md-12' id='under1'></div>" );
                    
                }
            }
        })

    }

    function search_next_navigation(firstkey, lastkey, number) {
        var number = parseInt(number);
        $(".nav" + String(number)).css( {"background-color": '#5cb85c'} );
        $("#nav"+ String(number) + String(lastkey)).css( "background-color", "#337ab7" );
        console.log(firstkey, lastkey, number);

        $.ajax({
            type: 'POST',
            data: {firstkey: firstkey, lastkey: lastkey},
            cache: true,
            url: '/en/get_keylist',
            dataType: 'JSON',
            success: function(data){
                $('#under'+ String(number)).empty();
                if( data.navigations.length > 0 ) {
                    $('#under'+ String(number)).append("<br>" + capitalizeFirstLetter(lastkey) + " navigation: ");
                    var html = " <button type='button' onclick=\"search_next_navigation('" + firstkey + "." + lastkey + "', 'all', " + String(number + 1) +")\" class='btn btn-success nav" + String(number + 1) +"' id='nav" + String(number + 1) + 'all' + "'> " + 'All' + " </button> ";
                    $('#under'+ String(number)).append(html);

                    for( var n = 0; n < data.navigations.length; n++ ) {
                        var html = " <button type='button' onclick=\"search_next_navigation('" + firstkey + "." + lastkey + "', '" + data.navigations[n][1] + "', " + String(number + 1) +")\" class='btn btn-success nav" + String(number + 1) +"' id='nav" + String(number + 1) + String(data.navigations[n][1]) + "'> " + capitalizeFirstLetter(data.navigations[n][1].replace("_", " ")) + " </button> ";
                        $('#under'+ String(number)).append(html);
                    }
                    $('#under'+ String(number)).append("<div class='col-md-12' id='under" + String(number + 1) + "'></div>" );
                }
            }
        })

    }

    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function del(key, index) {
        $.ajax({
            type: 'POST',
            data: {key: key},
            cache: true,
            url: '/en/delete_key',
            dataType: 'script'
        })
        $('#'+String(index)).remove();
        return false;
    }

    function change(lang, index, key) {
        var value = $('#' + String(lang) + String(index)).val();
        $.ajax({
            type: 'POST',
            cache: true,
            dataType: 'script',
            url: '/en/change_value',
            data: {lang: lang, value: value, key: key}
        })
        $('#fa'+String(lang)+String(index)).css('color', 'green');
    }

    function changed(lang, index) {
        $('#fa'+String(lang)+String(index)).css('color', 'red');
    }

    function add_language() {
        var value = $('#new_language').val();
        $.ajax({
            type: 'POST',
            cache: true,
            dataType: 'script',
            url: '/en/add_locale',
            data: {lang: value}
        })
        var locale = "<%= I18n.locale %>";
        var url = '/' + locale + '/translations';
        document.location.href = url;
    }

    function del_locale(loc) {
        $.ajax({
            type: 'POST',
            dataType: 'script',
            cache: true,
            url: '/en/delete_locale',
            data: {loc: loc}
        })
        var locale = "<%= I18n.locale %>";
        var url = '/' + locale + '/translations'
        document.location.href = url;
    }
</script>