<p id="notice"><%= notice %></p>

<p>
  <strong>Fight:</strong>
  <%= @army.fight_id %>
</p>

<p>
  <strong>Unit name:</strong>
  <%= @army.unit_name %>
</p>

<p>
  <strong>Hp from:</strong>
  <%= @army.hp_from %>
</p>

<p>
  <strong>Hp to:</strong>
  <%= @army.hp_to %>
</p>

<p>
  <strong>Dmg from:</strong>
  <%= @army.dmg_from %>
</p>

<p>
  <strong>Dmg to:</strong>
  <%= @army.dmg_to %>
</p>

<p>
  <strong>Def inf from:</strong>
  <%= @army.def_inf_from %>
</p>

<p>
  <strong>Def inf to:</strong>
  <%= @army.def_inf_to %>
</p>

<p>
  <strong>Def hors from:</strong>
  <%= @army.def_hors_from %>
</p>

<p>
  <strong>Def hors to:</strong>
  <%= @army.def_hors_to %>
</p>

<p>
  <strong>Def arch from:</strong>
  <%= @army.def_arch_from %>
</p>

<p>
  <strong>Def arch to:</strong>
  <%= @army.def_arch_to %>
</p>

<p>
  <strong>Unit type:</strong>
  <%= @army.unit_type %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @army.columns %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @army.rows %>
</p>

<p>
  <strong>X pos:</strong>
  <%= @army.x_pos %>
</p>

<p>
  <strong>Y pos:</strong>
  <%= @army.y_pos %>
</p>

<%= link_to 'Edit', edit_army_path(@army) %> |
<%= link_to 'Back', armies_path %>
