<div style="position:absolute; margin-left: 50px; margin-top: 10px; background-color: rgba(150, 150, 40, 0.9);">

    
    <h4 style='margin-left:10px;'>
        <label class='label-form-control'> <%= r('homepage.fights.attacker_army') %></label>
        <span><button style="margin-left: 15px;" data-ng-click="add_army('ally')" class='btn btn-danger'><%= r('homepage.fights.add') %></button></span>

          <button class='btn btn-success' data-ng-click="army_view = 0" data-ng-show="edit_army_view(1)"><%= r('homepage.fights.hide_army_stats') %></button>
          <button class='btn btn-success' data-ng-click="army_view = 0" data-ng-show="edit_army_view(2)"><%= r('homepage.fights.hide_army_stats') %></button>
          <button class='btn btn-success' data-ng-click="army_view = 0" data-ng-show="edit_army_view(3)"><%= r('homepage.fights.hide_army_stats') %></button>
          <button class='btn btn-success' data-ng-click="army_view = 1" data-ng-show="edit_army_view(0)"><%= r('homepage.fights.show_army_stats') %></button>
    </h4>

    <table>
        <tr>
            <td style="width: 130px; text-align: center"><%= r('homepage.fights.unit') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.col') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.row') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.x') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.y') %></td>
        </tr>
    </table>
    <div data-ng-repeat="(key, value) in formations.ally">
        <table>
        <tr>
            <td>
                <select data-ng-model="value.unit" data-ng-change="change_stats(key, 'ally')" style="width: 130px;" class='form-control'>
                    <option value="spear"><%= r('homepage.fights.spearman') %></option>
                    <option value="sword"><%= r('homepage.fights.swordsman') %></option>
                    <option value="axe"><%= r('homepage.fights.axemen') %></option>
                    <option value="bow"><%= r('homepage.fights.bowman') %></option>
                    <option value="light"><%= r('homepage.fights.light_cav') %></option>
                    <option value="mounted"><%= r('homepage.fights.mounted_arch') %></option>
                    <option value="heavy"><%= r('homepage.fights.heavy_cav') %></option>
                </select>
            </td>
            <td><input type="text" class='form-control' data-ng-model="value.column" data-ng-change="change_stats(key, 'ally')" style="width: 50px;"></td>
            <td><input type="text" class='form-control' data-ng-model="value.row" data-ng-change="change_stats(key, 'ally')" style="width: 50px;"></td>
            <td><input type="text" class='form-control' data-ng-model="value.x" data-ng-change="change_stats(key, 'ally')" style="width: 50px;"></td>
            <td><input type="text" class='form-control' data-ng-model="value.y" data-ng-change="change_stats(key, 'ally')" style="width: 50px;"></td>
            <td><a data-ng-click="remove(key, 'ally') " style='color:#7E7E7E'><i class="fa fa-trash fa-2x"></i></a></td>
            <td><button data-ng-class="find_class(key, 'ally')" data-ng-click="change_unit_stats('ally', key)"><%= r('homepage.fights.select') %></button></td>
        </tr>
        </table>
    </div>

    <h4 style='margin-left:10px;'>
        <label class='label-form-control'> <%= r('homepage.fights.defender_army') %></label>
        <span><button style="margin-left: 15px;" data-ng-click="add_army('enemy')" class='btn btn-primary'><%= r('homepage.fights.add') %></button></span>
    	<button class="btn btn-default" data-ng-click="stats_visible = !stats_visible" style="float:right"><%= r('homepage.fights.edit_unit_stats') %></button>
    </h4>
    <table>
        <tr>
            <td style="width: 130px; text-align: center"><%= r('homepage.fights.unit') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.col') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.row') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.x') %></td>
            <td style="width: 50px;"><%= r('homepage.fights.y') %></td>
        </tr>
    </table>
    <div data-ng-repeat="(key, value) in formations.ally">
        <table>
            <tr>
                <td>
                    <select data-ng-model="value.unit" class='form-control' data-ng-change="change_stats(key, 'enemy')" style="width: 130px;">
                        <option value="spear"><%= r('homepage.fights.spearman') %></option>
                        <option value="sword"><%= r('homepage.fights.swordsman') %></option>
                        <option value="axe"><%= r('homepage.fights.axemen') %></option>
                        <option value="bow"><%= r('homepage.fights.bowman') %></option>
                        <option value="light"><%= r('homepage.fights.light_cav') %></option>
                        <option value="mounted"><%= r('homepage.fights.mounted_arch') %></option>
                        <option value="heavy"><%= r('homepage.fights.heavy_cav') %></option>
                    </select>
                </td>
                <td><input type="text" class='form-control' data-ng-model="value.column" data-ng-change="change_stats(key, 'enemy')" style="width: 50px;"></td>
                <td><input type="text" class='form-control' data-ng-model="value.row" data-ng-change="change_stats(key, 'enemy')" style="width: 50px;"></td>
                <td><input type="text" class='form-control' data-ng-model="value.x" data-ng-change="change_stats(key, 'enemy')" style="width: 50px;"></td>
                <td><input type="text" class='form-control' data-ng-model="value.y" data-ng-change="change_stats(key, 'enemy')" style="width: 50px;"></td>
                <td><a data-ng-click="remove(key, 'enemy') " style='color:#7E7E7E'><i class="fa fa-trash fa-2x"></i></a></td>
                <td><button data-ng-class="find_class(key, 'enemy')" data-ng-click="change_unit_stats('enemy', key)"><%= r('homepage.fights.select') %></button></td>
            </tr>
        </table>
    </div>
</div>