<div class="col-md-offset-3 col-md-4" style='left: -8px; position:absolute; background-color: rgba(33, 153, 232, 0.8); color:white;' data-ng-show="edit_army_view(1)">

    <button class="btn btn-primary" data-ng-click='army_view = 1'><%= r('fights.stats_page') %></button>
    <button class="btn btn-primary" data-ng-click='army_view = 2'><%= r('fights.targets_page') %></button>
    <button class="btn btn-primary" data-ng-click='army_view = 3'><%= r('fights.formations_page') %></button>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.army_units') %>: </label>
            <strong><div data-ng-bind="unit_for_stats_change.stats.unit" style='display:inline; float:right;'></div></strong>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.army_type') %>: </label>
            <strong><div data-ng-bind="unit_for_stats_change.stats.type" style='display:inline; float:right;'></div></strong>
        </div>
    </div><br>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.x_position') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.x" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.y_position') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.y" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label" style='float:right; color:yellow;'><strong> <%= r('fights.range_from') %>: </strong></label>
       
        </div>
        <div class="col-md-6 columns" >
            <label class="form-control-label" style='float:right; color:yellow;'><strong> <%= r('fights.range_to') %>: </strong></label>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.health') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.hp_from" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.health') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.hp_to" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.attack') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.dmg_from" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.attack') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.dmg_to" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.def_horse') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_hors_from" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.def_horse') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_hors_to" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.def_arch') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_arch_from" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.def_arch') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_arch_to" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.def_inf') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_inf_from" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.def_inf') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_inf_to" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <button class="btn btn-success" data-ng-click='center_army()'><%= r('fights.center_this_army') %></button>
            <button class="btn btn-success" data-ng-click='deselect_army()'><%= r('fights.deselect_this_army') %></button>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> <%= r('fights.speed') %>: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.speed" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>


    <br>

</div>