<%= render 'layouts/navigation' %>
<div class='col-md-offset-2 col-md-8'>

<%= will_paginate @fights, renderer: BootstrapPagination::Rails %>
<h1 class='text-center'><%= r('all_fights.all_fights') %></h1>
<%= link_to r('all_fights.new_fight'), new_fight_path, :class => 'btn btn-success' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= r('all_fights.id') %></th>
      <th><%= r('all_fights.name') %></th>
      <th><%= r('all_fights.user') %></th>
      <th><%= r('all_fights.created') %></th>
      <th><%= r('all_fights.updated') %></th>
      <th><%= r('all_fights.watched') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.id %></td>
        <td><%= fight.name.truncate(30) if fight.name %></td>
        <td><%= fight.user.nickname %></td>
        <td><%= fight.created_at.strftime("%Y-%m-%d %Hh") %></td>
        <td><%= fight.updated_at.strftime("%Y-%m-%d %Hh") %></td>
        <td><%= fight.watched %></td>
<<<<<<< HEAD
        <td><a href="/play/<%= fight.name %>"  class='btn btn-primary'>Watch</a></td>
        <% if current_user && current_user.nickname == 'mansim' %>
          <td><%= link_to 'Edit', edit_fight_path(fight.name), :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', fight_path(fight.name), method: :delete, :class => 'btn btn-danger' %></td>
=======
        <td><a href= "/<%= I18n.locale %>/play/<%= fight.id %>" class='btn btn-primary'><%= r('all_fights.watch') %></a></td>
        <% if current_user && current_user.nickname == 'mansim' %>
          <td><%= link_to r('all_fights.edit'), edit_fight_path(fight), :class => 'btn btn-primary' %></td>
          <td><%= link_to r('all_fights.destroy'), fight, method: :delete, :class => 'btn btn-danger' %></td>
>>>>>>> d4fca1d4bc5f4dc700e0ff4889f949f8e87eb0e3
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

</div>