
<%= render 'layouts/navigation' %>
<div class="container">
<div class='col-md-offset-2 col-md-8'>
<h1 class='text-center'><%= r('fights.all_fights') %></h1>
<%= will_paginate @fights, renderer: BootstrapPagination::Rails %>
<%= link_to r('fights.new_fight'), new_fight_path, :class => 'btn btn-success' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= r('fights.id') %></th>
      <th><%= r('fights.name') %></th>
      <th><%= r('fights.created') %></th>
      <th><%= r('fights.updated') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.id %></td>
        <td><%= fight.name.truncate(30) %></td>
        <td><%= fight.created_at.strftime("%Y %m %d %H:%M:%S") %></td>
        <td><%= fight.updated_at.strftime("%Y %m %d %H:%M:%S") %></td>
        <td><a href= "/<%= I18n.locale %>/play/<%= fight.id %>" class='btn btn-primary'><%= r('fights.watch') %></a></td>
        <td><%= link_to r('fights.edit'), edit_fight_path(fight), :class => 'btn btn-primary' %></td>
        <td><%= link_to r('fights.destroy'), fight, method: :delete, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
 
  </tbody>
</table>
<br>


</div>
</div>