
<%= render 'layouts/navigation' %>
<div class="container">
<div class='col-md-offset-2 col-md-8'>
<h1 class='text-center'><%= r('homepage.fights.all_fights') %></h1>
<%= will_paginate @fights, renderer: BootstrapPagination::Rails %>
<%= link_to r('homepage.fights.new_fight'), new_fight_path, :class => 'btn btn-success' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= r('homepage.fights.id') %></th>
      <th><%= r('homepage.fights.name') %></th>
      <th><%= r('homepage.fights.created') %></th>
      <th><%= r('homepage.fights.updated') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.id %></td>
        <th><%= fight.name if fight.name %></th>
        <td><%= fight.created_at.strftime("%Y %m %d %H:%M:%S") %></td>
        <td><%= fight.updated_at.strftime("%Y %m %d %H:%M:%S") %></td>
        <td><a href="/<%= I18n.locale %>/play/<%= fight.name %>" class='btn btn-primary'><%= r('homepage.fights.play') %></a></td>
        <td><%= link_to r('homepage.fights.edit'), edit_fight_path(fight.name), :class => 'btn btn-primary' %></td>
        <td><%= link_to r('homepage.fights.destroy'), destroy_fight_path(id: fight.name), :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
 
  </tbody>
</table>
<br>


</div>
</div>