<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div data-ng-app="app" data-ng-controller="game" data-ng-init = "fight_playing('<%= @fight.name %>')">

  <%= render 'fights/images' %>
  <%= render 'fights/canvas_elements' %>

  <div data-ng-show = visible>
    <%= render 'fights/play_unit_stats' %>
    <%= render 'fights/play_unit_numbers' %>
  </div>

  <%= render 'fights/play_buttons' %>

</div>
